@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Default image before loading */
img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  filter: blur(20px) brightness(1.2) saturate(1.3);
  transition: opacity 0.6s ease, filter 1s ease;
  background-color: #ffe6f0; /* fallback color before image starts rendering */
}

/* When image starts showing (your hook adds data-loaded="true") */
img[data-loaded="true"] {
  opacity: 1;
  filter: none;
  background-color: transparent;
}



@layer base {
  :root {
    --background: 160 100% 100%;
    --foreground: 160 100% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 220 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 73% 35%; /* red-800 in HSL */
    --secondary-foreground: 0 0% 100%; /* white */

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --constructive: 140 75% 33%;
    --constructive-foreground: 160 100% 100%;

    --ring: 220 100% 50%; /* Indigo/blue ring */
    --border: 210 20% 70%; /* Soft cool gray */
    --input: 0 0% 98%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-xs list-none font-inter;
  }
}

.text-outline {
  -webkit-text-stroke: 1px #facc15; /* yellow-400 */
  color: transparent;
}
